html, body {
	height: 100%;
}

#cover {
	background: #222 url('Abduction.png') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}

#cover-caption {
	width: 100%;
}

.container {
	padding-left: 100px;
} 